{%extends "base.html" %}

{% block main_content %}
<main class="container mt-5 pt-5">
    <div class="text-center mb-5" data-aos="fade-down">
        <h1 class="display-4 fw-bold">Games</h1>
        <p class="lead text-primary d-inline">
            A collection of game projects including ones published on
            <a href="https://nesteagle.itch.io/" class="nav-link d-inline p-0">Itch.io</a>
        </p>
    </div>

    <div class="row g-4">
        <!-- Game 1 -->
        <div class="col-md-6 col-lg-4" data-aos="zoom-in-up">
            <div class="card bg-surface text-light shadow h-100">
                <img src="/images/games/game1.png" class="card-img-top" alt="Wall Warriors">
                <div class="card-body">
                    <h5 class="card-title">Wall Warriors</h5>
                    <p class="card-text text-muted"> A endless runner developed in 2021 using Unity and C#.</p>
                    <a href="#" class="btn btn-outline-primary">View Details</a>
                </div>
            </div>
        </div>
        <!-- Game 2 -->
        <div class="col-md-6 col-lg-4" data-aos="zoom-in-up">
            <div class="card bg-surface text-light shadow h-100">
                <img src="/images/games/game2.png" class="card-img-top" alt="Gem Drop">
                <div class="card-body">
                    <h5 class="card-title">GemDrop</h5>
                    <p class="card-text text-muted"> A game developed in 2022 using Unity and C#.</p>
                    <a href="#" class="btn btn-outline-primary">View Details</a>
                </div>
            </div>
        </div>
        <!-- Game 3 -->
        <div class="col-md-6 col-lg-4" data-aos="zoom-in-up">
            <div class="card bg-surface text-light shadow h-100">
                <img src="/images/games/game3.png" class="card-img-top" alt="Game3">
                <div class="card-body">
                    <h5 class="card-title">Hex battle NAME TBD</h5>
                    <p class="card-text text-muted"> A real-time strategy game developed using Unity and C#, featuring
                        pathfinding.</p>
                    <a href="#" class="btn btn-outline-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}