{%extends "base.html" %}

{% block main_content %}
<main class="container mt-5 pt-5">
    <div class="text-center mb-5" data-aos="fade-down">
        <h1 class="display-4 fw-bold">General Projects</h1>
        <p class="lead text-muted">A collection of general projects</p>
    </div>

    <div class="row g-4">
        <!-- Project 1 -->
        <div class="col-md-6 col-lg-4" data-aos="zoom-in-up">
            <div class="card bg-surface text-light shadow h-100">
                <img src="/images/games/game1.png" class="card-img-top" alt="Project1">
                <div class="card-body">
                    <h5 class="card-title">CPSC210 Term Project</h5>
                    <p class="card-text text-muted">A semester-long term project created in CPSC 210 at UBC.</p>
                    <a href="#" class="btn btn-outline-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}